@import "./variables.css";


@font-face {
    font-family: 'Stanley' ;
    src: url(../fonts/stanley-moon1.otf);
}

@font-face {
    font-family: "Inter";
    src: url("../public/fonts/Inter/static/Inter-Light.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto/Roboto-Light.ttf");
}

* {

    box-sizing: border-box;
}

.nav-bar__wrapper {

    padding: 0.5rem 0rem;
    background: var(--primary-color); 
    text-align: center;
}

.nav-bar__link {

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
/* identical to box height */
    text-decoration-line: underline;
/* White */
    color: #FFFFFF;
}

.header {

    background: var(--primary-background-color);
}

.header-wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 4.4rem 0rem 1.9rem;
    /*--pramary-background-color  color #F5F5F5, white */
}

.number-text {

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    color: var(--fourth-text-color);

}

.number {

    font-size: 20px;
    line-height: 26px;
}

.header__text {

    font-size: 14px;
    line-height: 18px;

}

.logo {

    font-family: 'Stanley';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
/* Green */
    color: var(--fifty-text-color );

}

.icon-list {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 202px;
}

.header-menu {

    background: var(--secondary-color);
    /* padding: 1.25rem 0rem 1rem; */
}

.header-menu__wrapper{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.header-menu__link {

    display: inline-block;
    padding: 1.25rem 0rem 1rem;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--main-text-color);
    transition: 1s ease-in-out;

}

.header-menu__link:hover {

    color: #004632;
    box-shadow:  10px 5px 5px magenta;
}

.form-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    margin : 3.75rem 0 11.25rem;
    /* text-align: center; */
    /* width: 434px; */
}

.form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 434px; */
}

.form-wrapper__sign-in {

    margin-bottom: 40px;
}

.form-button {

    display: inline-block;
    border: none;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
/* identical to box height */
    text-transform: uppercase;
/* Black */
    color: #030303;
    /* opacity: 0.5; */
    /* background: white; */
}

.form-button-second {

    color: #616161;
    margin-left: 1.87rem;
}

.form__social {

    display: inline-block;
    width: 207px;
    height: 52px;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #000000;
    color: #000000;

}

.form-button__facebook {

    background: url("../assets/icons/facebook_website_redesign\ 2.svg") no-repeat 1.9rem 0.9rem;

}

.form-button__google {

    margin-left: 1.1rem;
    background: url("../assets/icons/Google__G__Logo\ 2.svg") no-repeat 2.5rem 0.9rem;

}

.form-wrapper__input {

    margin-top: 1rem;
}

.form-input {

    width: 434px;
    height: 50px;
    padding: 11px 98px 9px 16px;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* display: flex;
    align-items: center; */
    color: #808080;
    background: #FFFFFF;
    border: 1px solid #030303;

}

.form-wrapper__password,
.form-wrapper__forgot-password {

  margin-top: 1.25rem;
}

.form-password {

    background: url("../image/icons/eye.svg") no-repeat 98% 50%;
}

.form-text {

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.02em; 
    color: #030303;
   
}

.forgot-passvord  {

    text-decoration-line: underline;

}

.form-wrapper__checkbox {

    margin-top: 2.5rem;
    
}

.input__checkbox {

    margin-right: 0.92rem;
}

.form-wrapper__button {

    margin-top: 1.875rem;
}

.form__button {

    width: 434px;
    height: 50px;
    font-family: 'Candara';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
}

.form-text__condition {

    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.02em;
/* Gray text */
    color: #333333;
    margin-top: 1.25rem;
}

.form-link-text {

    color: #333333;
    text-decoration: underline;
}

.footer {

    background-color: #004632;
}

.footer-wrapper__logo {

    /* display: flex; */
    /* justify-content: center; */
    padding: 5rem 0 3.75rem;
    text-align: center;
}

