@import "./variables.css";

@font-face {
    font-family: "RobotoSlab-Regular";
    src: url("../assets/fonts/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: "Stanley";
    src: url("../assets/fonts/Stanley.otf");
}

@font-face {
    font-family: "Candara";
    src: url("../assets/fonts/candara.ttf");
}

@font-face {
    font-family: "Candara-Bold";
    src: url("../assets/fonts/ofont.ru_Candara.ttf");
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.back {
    background-color: var(--primary-color);
    padding: 8px 0 8px 0;
    width: 100%;
}

.sale-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header {

    background: var(--primary-background-color);
    position: sticky;
    top: 0px;
    left: 0px;
}

.sale {
    color: var(--secondary-text-color);
    font-size: 1.1rem;
}

.main-header {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 0 30px 0;
}

.main__info {
    display: flex;
    flex-direction: column;

}

.main__phone {
    font-family: RobotoSlab-Regular;
    color: var(--primary-text-color);
    font-size: 1.2rem;
    text-decoration: none;
}

.main__description {
    font-family: RobotoSlab-Regular;
    color: var(--primary-text-color);
    font-size: 0.8rem;
    margin-top: 5px;
}



.icon__image {
    text-decoration: none;
}

.background {
    width: 100%;
    background-color: var(--secondary-color);
}

.nav-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 18px 0 18px 0;
}

.nav__link {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.1rem;
    font-family: Candara;
}

.link-sale {
    color: var(--primary-color);
}

.nav__link:hover {
    font-family: Candara-Bold;
}

.poster-wrapper {
    background: linear-gradient(to right, rgba(220, 239, 48, 1), rgba(0, 70, 50, 1) );
    display: flex;
}

.flex {
    display: flex;
    margin: auto;
    width: 80%;
    padding: 2rem;
}

.fotoo {
    width: 100%;
}

.first {
    padding-right: 1rem;
}


.card_title {
    color: var(--primary-color);
    font-size: 38px;
  font-family: RobotoSlab-Regular;
  font-weight: 400;
  margin-top: 3rem;
  padding-bottom: 0rem;
 
}

.cards-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 69px;
    margin-bottom: 70px;
}

.card__product {
    width: 100%;
}

.card__product-spacing {
    width: 95%;
}

.card__product-border-line {
    border-top: 2px solid rgba(224, 224, 224, 1);
}

.icons-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.wrapper-end {
    display: flex;
    justify-content: flex-end;
}

.icon-first {
    width: 18%;
}

.icon-second {
    width: 10%;
}

.icon__image {
    width: 100%;
}

.image-wrapper {
    width: 95%;
    height: 100%;
    margin-top: 50px;
}

.image-card {
    width: 100%;
    height: 90%;
}



.rating-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
}

.rating-text {
    font-family: RobotoSlab-Regular;
    font-size: 1rem;
    color: rgba(133, 133, 133, 1);
}

.link-text {
    color: rgba(133, 133, 133, 1);
}

.link-text-none {
    text-decoration: none;
}

.rating-icon {
    margin-left: 14px;
}

.description-product-wrapper {
    font-family: RobotoSlab-Regular;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
}

.description-gift {
    font-size: 1rem;
    color: rgba(124, 124, 124, 1);
}

.description-name {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 1);
}

.description-price {
    font-size: 1.4rem;
    color: rgba(0, 70, 50, 1);
}

.description-name-wrapper {
width: 80%;
text-align: initial;
margin-top: 8px;
}

.description-price {
    margin-top: 15px;
}

.sale {
    display: flex;
    margin-top: 17px;
    align-items: baseline;
}

.sale-wrap {
    font-size: 1rem;
    color: rgba(124, 124, 124, 1);
    text-decoration: line-through;
    margin-left: 12px;
}

.main {
    font-size: 50px;
    text-align: center;

}

/* *Styles Eugene */

.section-images {

    background: #F2F7F7;
    /* background: red; */

    padding:  120px 0px;
}

.section-image-title {

    margin-bottom: 62px;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
/* identical to box height */
    text-transform: uppercase;
/* Green */
    color: #004632;
    text-align: center;

} 

.section-image-wrapper {

    width: 90%;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(3, 500px); */
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: minmax(460px, auto);
    grid-auto-rows: auto;
    justify-content: center;
    gap: 1rem;
}

.figure {

    display: grid;
    justify-content: center;
    background: white;
    /* background: url("../assets/images/BODY.png") no-repeat; */

    padding: 20px;
    /* border: 20px solid red; */
}

.figcaption {

    padding:36px 0px 25px;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: white;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #030303;

}

.figure img {

    vertical-align: middle;
}




.main_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    
}

.card_title {
    color: var(--primary-color);
    font-size: 38px;
  font-family: RobotoSlab-Regular;
  font-weight: 400;
  padding-top: 1rem;
  margin-bottom: 1rem;
 
}

.section {
    display: flex;
    width: 100%;
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 3rem;
   
}

.products_card {
    width: 400px;
    position: relative;
    margin-right: 1.1rem;
    
}

.prodact_foto {
    width: 100%;
}
.label{
    width: 18%;
}
.icon_save {
    position: absolute;
    right: 0;
    width: 10%;
}

.star-reviews-wrapper {
    display: flex;
    justify-content: space-between;
}

.views{
    color: var( --input-text-color);
    text-decoration: underline;
    padding-bottom: .5rem;
    font-size: 16px;
}

.product_type{
    color: var( --input-text-color);
    padding-bottom: .3rem;
    font-size: 16px;
}

.product_name{
    padding-bottom: .3rem;
    font-size: 20px;
}

.price-wrapper {
    position:relative;
    flex-direction: row;
}

.price {
    display: inline-block;
    color: var(--primary-color);
    margin-right: 5px;
    font-size: 26px;
    font-family: Candara;
}

.price_first {
    display: inline-block;
    position:absolute; 
    bottom: 2.5px; 
    font-size: 18px;
    color: var( --input-text-color);
    text-decoration: line-through ;
    text-align: center;
}

.footer {
    background-color: var(--primary-color);
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__title{
    padding-bottom: 2rem;
    font-size: 20px;
    font-family:Candara ;
}

.menu__row{
    padding-right: 1rem;
}
.menu{
    padding: 3rem;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
}
 
.footer__item {
    padding-top: 1rem;
}

.footer__link{
    color: aliceblue;
     font-size: 16px;
     font-family:Candara ;
}
.write__us {
    text-decoration: underline;
}

.socialmedia__logo {
    width: 100%;
}
.footer__list__social {
    display: flex;
    flex-direction: row;
}

.footer__item__social {
    margin-right: .8rem;
}

.footer__list__rights {
    display: flex;
    flex-direction: column;
     margin-top: 6.9rem;
}