@import "./variables.css";

@font-face {
    font-family: "RobotoSlab-Regular";
    src: url("../assets/fonts/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: "Stanley";
    src: url("../assets/fonts/Stanley.otf");
}

@font-face {
    font-family: "Candara";
    src: url("../assets/fonts/candara.ttf");
}

@font-face {
    font-family: "Candara-Bold";
    src: url("../assets/fonts/ofont.ru_Candara.ttf");
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.back {
    background-color: var(--primary-color);
    padding: 8px 0 8px 0;
    width: 100%;
}

.sale-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sale {
    color: var(--secondary-text-color);
    font-size: 1.1rem;
}

.main-header {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 0 30px 0;
}

.main__info {
    display: flex;
    flex-direction: column;

}

.main__phone {
    font-family: RobotoSlab-Regular;
    color: var(--primary-text-color);
    font-size: 1.2rem;
    text-decoration: none;
}

.main__description {
    font-family: RobotoSlab-Regular;
    color: var(--primary-text-color);
    font-size: 0.8rem;
    margin-top: 5px;
}



.icon__image {
    text-decoration: none;
}

.background {
    width: 100%;
    background-color: var(--secondary-color);
}

.nav-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 18px 0 18px 0;
}

.nav__link {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.1rem;
    font-family: Candara;
}

.link-sale {
    color: var(--primary-color);
}

.nav__link:hover {
    font-family: Candara-Bold;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.form-description {
    display: flex;
    font-family: Candara;
    font-size: 2rem;
    width: 15%;
    justify-content: space-between;
    padding: 60px 0 0 0;
}

.sign-description {
    color: rgba(97, 97, 97, 1);
}


.form {
    display: inherit;
    flex-direction: column;
}

.input {
    width: 430px;
    font-family: Candara;
    font-size: 1.1rem;
    color: var(--input-text-color);
    padding: 11px 0 9px 16px;
    margin-top: 20px;
    border: 2px solid black;
}

.button-social__media {
    display: flex;
    width: 430px;
    justify-content: space-between;
    margin-top: 40px;
}


.button {
    border: 2px solid black;
    padding: 14px 0 12px;
    width: 205px;
    display: flex;
    justify-content: center;
}

.button__text {
    font-family: Candara;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.button__link {
    text-decoration: none;
}

.input-icon {
    background-image: url(../assets/icons/eye.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 95%;
}

.button__text {
    padding-left: 10px;
}

.check-info {
    width: 430px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.checkbox-wrapper {
    display: flex;
    align-items: baseline;
    margin-top: 15px;
}

.checkbox-description {
    font-family: RobotoSlab-Regular;
    font-size: 1rem;
    padding-left: 12px;
}

.button__authorization {
    width: 430px;
    background-color: black;
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button-link {
    text-decoration: none;
}

span {
    color: white;
    font-family: Candara;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.info-wrapper {
    width: 430px;
    margin-top: 20px;
}

.info {
    font-family: RobotoSlab-Regular;
    font-size: 1rem;
}